<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncey.springbootmybatis.mapper.UserMapper">

    <!-- 根据用户名查询用户数据-->
    <select id="findByUserName" resultType="com.chauncey.springbootmybatis.entity.User">
        select *
        from users
        where username = #{username}
    </select>
    <!-- 查询手机号是否被注册-->
    <select id="findByPhone" resultType="com.chauncey.springbootmybatis.entity.User">
        select *
        from users
        where phone = #{phone}
    </select>
    <!--  添加新用户  -->
    <insert id="addUser">
        insert into users(username, nickname, password, phone)
        values (#{username}, #{username}, #{encodePassword}, #{phone})
    </insert>
    <!--  修改用户信息-->
    <update id="updateUserInfo">
        UPDATE users
        <set>
            <if test="nickname != null">
                nickname = #{nickname}
            </if>
            <if test="avatarUrl != null">
                <if test="nickname != null">
                    , <!-- 仅在昵称存在时才添加逗号 -->
                </if>
                avatar = #{avatarUrl}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!--  修改用户密码-->
    <update id="updatePwd">
        update users
        set password=#{encodePassword}
        where id = #{id}
    </update>
</mapper>