<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncey.springbootmybatis.mapper.UserMapper">

    <!-- 根据用户名查询用户数据：User findByUsername(String username) -->
    <select id="findByUserName" resultType="com.chauncey.springbootmybatis.entity.User">
        select *
        from users
        where username = #{username}
        and is_delete = 0
    </select>
    <!--  添加新用户  -->
    <insert id="addUser">
        insert into users(username, nickname, password)
        values (#{username}, #{username}, #{encodePassword})
    </insert>
    <!--  修改用户昵称-->
    <update id="update">
        update users
        set nickname=#{nickname}
        where id = #{id}
    </update>
    <!--  修改用户头像-->
    <update id="updateAvatar">
        update users
        set avatar=#{avatarUrl}
        where id = #{id}
    </update>
    <!--  修改用户密码-->
    <update id="updatePwd">
        update users
        set password=#{encodePassword}
        where id = #{id}
    </update>
</mapper>